@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1, p {
  font-family: "Afacad Flux", "Roboto", system-ui, sans-serif;
}

input {
  width: 600px; height: 60px; font: 16px/1.4 "Afacad Flux", "Roboto", system-ui, sans-serif;
}
